/Lab3/JMSServer/target/
/Lab4/ProducerConsumer/target/
/Lab4/RabbitMQ/target/
/Exams/Luglio/Server/target/
/Exams/Luglio/Client/target/
/Exams/Luglio/myClient/target/
/Exams/Settembre/Client/target/
/Exams/Settembre/DatabaseManager/target/
/Exams/Settembre/Server/target/
/Software Engineering_OK/Andrea/RestClient/target/
/Software Engineering_OK/Andrea/RestfulServer/target/
/Software Engineering_OK/Exercise/Lab1_Ex/Lab1/BankAAAWS/target/
/Software Engineering_OK/Exercise/Lab1_Ex/Lab1/BankClient/target/
/Software Engineering_OK/Exercise/Lab1_Ex/Lab1/BankWS/target/
/Software Engineering_OK/Exercise/Lab1_Ex/ex/UserApplication/build/
/Software Engineering_OK/Exercise/Lab1_Ex/ex/UserApplication/dist/
/Software Engineering_OK/Exercise/Lab1_Ex/ex/UserApplication/nbproject/private/
/Software Engineering_OK/Exercise/Lab1_Ex/ex/WebService/target/
/Software Engineering_OK/Exercise/Lab1_Ex/ex/mavenproject3/target/
/Software Engineering_OK/Exercise/Lab2_Ex/fatto_in_lab/clientgabfortu/target/
/Software Engineering_OK/Exercise/Lab2_Ex/fatto_in_lab/gabfortu/target/
/Software Engineering_OK/Exercise/my_Lab_Exs/Lab_ex2/target/
/Software Engineering_OK/Exercise/my_Lab_Exs/clientgabfortu/target/
/Software Engineering_OK/MyLabsEstate/Lab_1/AAAWSFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_1/BankWS/target/
/Software Engineering_OK/MyLabsEstate/Lab_1/ClientBankFortunato/build/
/Software Engineering_OK/MyLabsEstate/Lab_1/ClientBankFortunato/dist/
/Software Engineering_OK/MyLabsEstate/Lab_1/ClientBankFortunato/nbproject/private/
/Software Engineering_OK/MyLabsEstate/Lab_2/RestClientFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_2/RestServerFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_3/JMSClientFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_3/JMSServerFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_4/HelloWorldRabbitFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_4/ProducerConsumerFortunato/target/
/Software Engineering_OK/MyLabsEstate/Lab_4/ProgettoSQLite/ProgettoSQLite/target/
/Software Engineering_OK/MyLabsEstate/Lab_4/rabbitMQClient/rabbitMQClient/target/