/Lab3/JMSServer/target/
/Lab4/ProducerConsumer/target/
/Lab4/RabbitMQ/target/
/Exams/Luglio/Server/target/
/Exams/Luglio/Client/target/
/Exams/Luglio/myClient/target/
/Exams/Settembre/Client/target/
/Exams/Settembre/DatabaseManager/target/
/Exams/Settembre/Server/target/